@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,600,700|Ubuntu:300,400,500,700');

body, html {
  margin: 0;
  padding: 0;
  background: darkolivegreen;
  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}
@media(min-width: 601px){
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.item {
  background: olive;
  display: flex;
  flex-direction: row;
}
@media(min-width: 601px){
  .item {
    width: 50%;
    margin-bottom: 10px;
  }
}
@media(min-width: 900px){
  .item {
    width: 25%;
  }
}
@media(min-width: 1200px){
  .item {
    width: 16.66666%;
  }
}

.item img {
  height: 100%;
  width: 35vw;
}
@media(min-width: 601px){
  .item img {
    height: 100%;
    width: 50%;
  }
}

.item-text {
  padding: 0 20px;
}

.item:nth-of-type(odd){
  background: olivedrab;
}
